/* Small (mobile large / tablet verticale) */
@media screen and (min-width: 576px) {
  .c-card {
    width: calc(100% / 2 - (20px / 2));
  }

  #team-container {
    width: 100%;
  }
}

/* Medium (tablet) */
@media screen and (min-width: 768px) {
  .c-card {
    width: calc(100% / 3 - (40px / 3));
  }
}

/* Large (desktop) */
@media screen and (min-width: 992px) {
  .c-card {
    width: calc(100% / 4 - (60px / 4));
  }
}
