/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  color: rgb(229, 49, 112);
}

#team-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  gap: 20px;
}

.c-card {
  width: calc(100% / 3 - (40px / 3));
  cursor: pointer;
}
