/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
h1,
h2 {
  color: rgb(229, 49, 112);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* CARD */
#team-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  gap: 20px;
}

.c-card-text {
  padding-top: 5px;
}

ul li {
  font-family: "Courier New", Courier, monospace;
}

ul li:first-child {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 900;
}

.c-card {
  cursor: pointer;
}

.c-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
